Package: python-ct6-apps
Section: Python
Priority: optional
Architecture: all
Essential: no
Maintainer: Paul Austen <pausten.os@gmail.com>
Description: Applications that allow data from the CT6 device to be read, stored in a database and displayed using a web server interface.
Version: 7.7
