[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
# Fix security vulnerability reported by github dependabot.
cryptography = ">=42.0.4"
paramiko = ">=2.10.1"
numpy = "*"
# requires (on debian based Linux platforms)
# sudo apt-get install python3-dev default-libmysqlclient-dev build-essential
# to install mysqlclient
mysqlclient = "*"
paho-mqtt = "*"
p3lib = ">=1.1.67"
bokeh = "==3.1.0"
requests = "*"
ifaddr = "*"
pandas = "*"
ping3 = "*"
pyserial = "==3.5"
retry = "*"
argon2-cffi = "*"
rshell = "*"
mpy_cross = "*"
pyflakes = "*"
psutil = "*"
objgraph = "*"
#ip2geotools = "*" # Remove the # comment at the start of this line if you wish the server
                   # access log file to contain country, region and city information. 
                   # The down side to this is that about 70 extra python modules are pulled
                   # in making installation longer.
                    
